/* ============================ //
// men.css -- Standard CSS File //
// -- Created by Alex Montes -- //
// ============================ */

.menContainer{
    background-image: url('../../assets/men_opaque.png');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.menTopSpacer{
    min-height: calc(15vh + 20px);
}

.theMen{
    display: block;
    width: 50%;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}