/* =============================== //
// contact.css - Standard CSS File //
// --- Created by Alex Montes ---- //
// =============================== */

.contactContainer{
    background-image: url('../../assets/word_backgrounds/opaque/contact.png');
    background-size: cover;
}

.contactHeader{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-attachment: fixed;
}