.App {
    text-align: center;
  }
  
  .cardContainer{
    color: black;
  }
  
  .comingSoonHeader{
    min-height: 100vh;
    font-weight: 800;
    font-size: calc(60px + 5vmin);
  }
  
  .comingSoonPageHeader{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-attachment: fixed;
  }

  .container{
    background-color: black;
    background-image: url('../../assets/word_backgrounds/opaque/coming_soon.png');
    background-size: cover;
  }

  .divSpacer{
    height: 5vh;
  }

  .secretPeriod{
    color: white;
    text-decoration: none;
  }
  
  .smallTextContainer{
    padding-top: 1em;
  }
  
  .textContainer{
    color: white;
    background-color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }