.navbarCSS{
    background-color: #181A18;
    height: calc(10vh + 3vmin);
}

.navbarLink{
    color: cornflowerblue;
    text-decoration: none;
    padding-right: calc(5px + 2vmin);
}

.navbarContainer{

    margin: auto;
    height: 15vh;
    white-space: normal;
    display: flex;
    width: 100%;
    align-items: center;

}

.navbarLinkContainer{
    color: white;
    font-size: calc(5px + 3vmin);

}

.navbarLogo{
    height: calc(6vh + 3vmin);
    padding-left: calc(10px + 2vmin);
    margin-right: calc(125px + 20vmin);
}