/* ================================== //
// experience.css - Standard CSS File //
// ----- Created by Alex Montes ----- //
// ================================== */

.experienceContainer{
    background-image: url('../../assets/word_backgrounds/opaque/experience.png');
    background-size: cover;
}

.experienceHeader{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-attachment: fixed;
}