.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  
.cardContainer{
    color: black;
}
  
.maintenanceHeader{
    min-height: 100vh;
    font-weight: 800;
    font-size: calc(45px + 5vmin);
}

.maintenanceContainer{
    background-image: url('../../assets/maintenance_background_opaque.png');
    background-size: cover;
}

.maintenanceCSS {
    text-align: center;
}
  
.smallTextContainer{
    padding-top: 1em;
}
  
.textContainer{
    color: white;
    background-color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1.0;
}