.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.cardContainer{
  color: black;
}

.comingSoonHeader{
  min-height: 100vh;
  font-weight: 800;
  font-size: calc(60px + 5vmin);
}

.container{
  background-color: black;
  background-image: url('./assets/word_backgrounds/opaque/contact.png');
  background-size: cover;
}

.smallTextContainer{
  padding-top: 1em;
}

.textContainer{
  color: blanchedalmond;
  background-color: black;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}