.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.comingSoonHeader{
  min-height: 100vh;
  font-weight: 800;
  font-size: calc(50px + 5vmin);
}

.container{
  background-color: black;
  /* background-image: url('./assets/backgroundImg.png');
  background-size: cover;
  opacity: 80%; */
}

.textContainer{
  color:chartreuse;
  opacity: 100%;
}
