/* ================================ //
// notFound.css - Standard CSS File //
// ---- Created by Alex Montes ---- //
// ================================ */

.cardContainer{
    color: black;
}
  
.notFoundHeader{
    color: crimson;
    min-height: 100vh;
    font-weight: 800;
    font-size: calc(45px + 5vmin);
}

.notFoundPageHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-attachment: fixed;
}

.notFoundCard{
    margin-bottom: calc(35px + 3vmin);
}

.notFoundContainer{
    background-image: url('../../assets/word_backgrounds/opaque/not_found.png');
    background-size: cover;
}

.notFoundCSS {
    text-align: center;
}

.returnButton {
    background-color:darkred;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: calc(5px + 1.5vmin);
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.returnButton:hover,
.returnButton:focus {
    background-color: crimson;
}
  
.smallTextContainer{
    padding-top: 1em;
}
  
.textContainer{
    color: white;
    background-color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1.0;
}